#flickr {
  height: 300px;
  overflow: scroll;
}

#flickr img {
  /* width: 80px; */
  /* padding: 2px 5px; */
}

#collage {
  height: 300px;
  border: 4px solid black;
  position: relative;
}

#collage img {
  position: absolute;
}
